# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Anaconda
.conda/
*.conda

# Project specific
data/output/thumbnails/*
!data/output/thumbnails/.gitkeep
data/output/custom_previews/*
!data/output/custom_previews/.gitkeep

# Windows specific
$RECYCLE.BIN/
System Volume Information/

# Keep docs folder
!docs/
docs/data/output/thumbnails/*
!docs/data/output/thumbnails/.gitkeep
docs/data/output/custom_previews/*
!docs/data/output/custom_previews/.gitkeep
